.main-container {
    overflow-y: auto;
    height: auto;
}

.width-spacer {
    flex: 1 1 auto;
}

.mat-row:nth-child(even){
    background-color: #ffffff;
}
        
.mat-row:nth-child(odd){
    background-color: #f5f5f5;
}

.mat-row-bg{
    background-color: #f5f5f5;
}