<div class="d-flex mb-0">
  <h5 mat-dialog-title>Credit Sale Details</h5>

  <span class="width-spacer"></span>
  
  <button mat-icon-button (click)="onCancelClick()" color="accent" class="mt-2 mx-3"><mat-icon><span class="material-icons-outlined">
      close
  </span></mat-icon></button>
</div>

<mat-dialog-content>
  <!-- credit sale detail -->
  <div class="container overflow-auto">
    <table mat-table [dataSource]="creditSaleDataSource" class="mat-elevation-z8">

        <!--Date Column -->
        <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef>Sale Date </th>
            <td mat-cell *matCellDef="let element"> {{element.created_at | date: 'medium'}} </td>
          </ng-container>
    
        <!--Customer Name Column -->
        <ng-container matColumnDef="customer_name">
          <th mat-header-cell *matHeaderCellDef>Customer Name </th>
          <td mat-cell *matCellDef="let element"> {{element.customer_name}} </td>
        </ng-container>
    
        <!--Total Amount Column -->
        <ng-container matColumnDef="invoice_amount">
          <th mat-header-cell *matHeaderCellDef> Total Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.invoice_amount | currency:' ':'code'}} </td>
        </ng-container>
    
        <!--Amount Paid Column -->
        <ng-container matColumnDef="invoice_paid">
          <th mat-header-cell *matHeaderCellDef>Amount Paid </th>
          <td mat-cell *matCellDef="let element"> {{element.invoice_paid | currency:' ':'code'}} </td>
        </ng-container>

        <!--Balance -->
        <ng-container matColumnDef="invoice_balance">
            <th mat-header-cell *matHeaderCellDef>Balance </th>
            <td mat-cell *matCellDef="let element"> {{element.invoice_balance | currency:' ':'code'}} </td>
        </ng-container>

        <!--Contact -->
        <ng-container matColumnDef="customer_contact_no">
            <th mat-header-cell *matHeaderCellDef>Contact </th>
            <td mat-cell *matCellDef="let element"> {{element.customer_contact_no}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="creditSaleDisplayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: creditSaleDisplayedColumns;" class="mat-row"></tr>
      </table>
  </div>

  <!-- products for the credit sale -->
  <h5 mat-dialog-title>Products</h5>

  <div class="container overflow-auto">
    <table mat-table [dataSource]="productsDataSource" class="mat-elevation-z8">

        <!-- No. Column -->
        <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
        </ng-container>

        <!--Product Name Column -->
        <ng-container matColumnDef="product_name">
            <th mat-header-cell *matHeaderCellDef>Product Name </th>
            <td mat-cell *matCellDef="let element"> {{element.product_name}} </td>
          </ng-container>
    
        <!--Units Column -->
        <ng-container matColumnDef="units">
          <th mat-header-cell *matHeaderCellDef>Units </th>
          <td mat-cell *matCellDef="let element"> {{element.units}} </td>
        </ng-container>
    
        <!--Unit Price Column -->
        <ng-container matColumnDef="unit_price">
          <th mat-header-cell *matHeaderCellDef> Unit Price </th>
          <td mat-cell *matCellDef="let element"> {{element.unit_price | currency:' ':'code'}} </td>
        </ng-container>
    
        <!--Sub Total Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Sub Total </th>
          <td mat-cell *matCellDef="let element"> {{element.amount | currency:' ':'code'}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="productsDisplayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: productsDisplayedColumns;" class="mat-row"></tr>
      </table>
  </div>


  <!-- payments details -->
  <h5 mat-dialog-title>Payments</h5>

  <div class="container overflow-auto mb-3">
    <table mat-table [dataSource]="paymentsDataSource" class="mat-elevation-z8">

        <!-- No. Column -->
        <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
        </ng-container>

        <!--Amount Column -->
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Amount </th>
            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
          </ng-container>
    
        <!--Date Column -->
        <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef>Payment Date </th>
          <td mat-cell *matCellDef="let element"> {{element.created_at | date: 'medium'}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="paymentsDisplayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: paymentsDisplayedColumns;" class="mat-row"></tr>
      </table>
  </div>
</mat-dialog-content>
