.main-container {
    background: #D9D9D9;
    max-height: 100vh;
}

mat-toolbar {
    background: #D9D9D9;
    overflow-x: auto;
    overflow-y: hidden;
}

.fs-18 {
    font-size: 18px;
}

.position-absolute {
    z-index: 500;
}

.mat-row:nth-child(even){
    background-color: #ffffff;
}
        
.mat-row:nth-child(odd){
    background-color: #f5f5f5;
}

.total td{
    font-weight: bold;
    font-size: large;
    border-bottom: none;
}

.cashReceived td {
    border-bottom: none;
}