<div class="main-container d-flex flex-column min-vh-100">
    <div>
        <mat-toolbar>
          <span class="fs-18">Denloy Investments</span>

          <div class="container mt-3">
              <ais-instantsearch [config]="config">
              <ais-search-box [placeholder]="'Type product name...'" #searchBox></ais-search-box>
              <ais-hits class="position-absolute" *ngIf="searchBox.state.query">
                <ng-template let-hits="hits">
                  <ol class="ais-Hits-list">
                    <li *ngFor="let hit of hits.slice(0, 5)" class="ais-Hits-item">
                      <a (click)="selectProduct(hit)">{{hit.product_name}}</a>
                    </li>
                  </ol>
                </ng-template>
              </ais-hits>
            </ais-instantsearch>
          </div>

          <button mat-icon-button [matMenuTriggerFor]="account"><mat-icon><span class="material-icons-outlined">
            account_circle
            </span></mat-icon></button>

            <mat-menu #account="matMenu" class="account-menu">
              <ng-template matMenuContent>
                <button mat-menu-item>
                  <mat-icon>manage_accounts</mat-icon>
                  <span>Account</span>
                </button>
    
                <button mat-menu-item (click)="logout()">
                  <mat-icon>logout</mat-icon>
                  <span>Logout</span>
                </button>
              </ng-template>
            </mat-menu>
        </mat-toolbar>
    </div>

    <!-- products table -->
    <div class="container my-3 overflow-auto">
        <form ngNativeValidate id="saleDetail" #posForm="ngForm" (ngSubmit)="onSaleSubmit()">
          <table mat-table [dataSource]="products" class="mat-elevation-z8">

            <!-- No. Column -->
            <ng-container matColumnDef="no">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
            </ng-container>
        
            <!--Product Name Column -->
            <ng-container matColumnDef="product_name">
              <th mat-header-cell *matHeaderCellDef>Product Name </th>
              <td mat-cell *matCellDef="let element"> {{element.product_name}}
            </ng-container>
        
            <!--Quantity Column -->
            <ng-container matColumnDef="units">
              <th mat-header-cell *matHeaderCellDef> Quantity </th>
              <td mat-cell *matCellDef="let element; let i=index">

                <div class="form-group">
                  <input type="number" [(ngModel)]="element.units" (input)="updateSubTotal(element)" class="form-control" name="units_{{i}}" id="units_{{i}}" required>
                </div>
                
              </td>
            </ng-container>
        
            <!--Unit Price -->
            <ng-container matColumnDef="unit_price">
              <th mat-header-cell *matHeaderCellDef>Unit Price </th>
              <td mat-cell *matCellDef="let element; let i=index">

                <div class="form-group">
                  <input type="number" [(ngModel)]="element.unitPrice" (input)="updateSubTotal(element)" class="form-control" name="unitPrice_{{i}}" id="unitPrice_{{i}}" [min]="element.min_selling_price" required>
                </div>

              </td>
              <td colspan="4" mat-footer-cell *matFooterCellDef style="text-align: right;"> Total </td>
            </ng-container>

            <!--Sub Total -->
            <ng-container matColumnDef="sub_total">
                <th mat-header-cell *matHeaderCellDef>Sub Total </th>
                <td mat-cell *matCellDef="let element">
                  {{element.amount}} 
                </td>
                <td colspan="2" mat-footer-cell *matFooterCellDef> {{ getTotal() | currency:'KSh ':'code' }} </td>
            </ng-container>
        
            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="deleteProduct(element)" color="warn"><mat-icon><span class="material-icons-outlined">
                    delete
                    </span></mat-icon></button>
              </td>
            </ng-container>

            <!-- cash received label -->
            <ng-container matColumnDef="cash_received_label">
              <td mat-footer-cell *matFooterCellDef colspan="4" style="text-align: right;">
                Cash Received
              </td>
            </ng-container>

            <!-- cash receieved field -->
            <ng-container matColumnDef="cash_received">
              <td mat-footer-cell *matFooterCellDef colspan="2">

                <div class="form-group">
                  <input type="number" [(ngModel)]="cash_received" class="form-control" name="cash_received" id="cash_received" [min]="getTotal()">
                </div>

              </td>
            </ng-container>

            <!-- change button -->
            <ng-container matColumnDef="change_button">
              <td mat-footer-cell *matFooterCellDef colspan="4" style="text-align: right;">
                <button type="submit" mat-stroked-button (click)="calculateChange()">Change</button>
              </td>
            </ng-container>

            <!-- change amount -->
            <ng-container matColumnDef="change_amount">
              <td mat-footer-cell *matFooterCellDef colspan="2">
                {{ change | currency:'KSh ':'code' }}
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row"></tr>
            <tr mat-footer-row *matFooterRowDef="footerColumns" class="total"></tr>
            <tr mat-footer-row *matFooterRowDef="['cash_received_label', 'cash_received']" class="cashReceived"></tr>
            <tr mat-footer-row *matFooterRowDef="['change_button', 'change_amount']"></tr>
          </table>
        </form>
    </div>

    <!-- footer/ action bar -->
    <footer style="text-align: right;" class="mt-auto py-3 container">
      <button type="button" form="saleDetail" mat-raised-button (click)="openDialog()" color="warn" class="mx-5">Clear</button>
      <button type="submit" form="saleDetail" (click)="openCreditSale()" mat-raised-button class="mx-5">Credit</button>
      <button type="submit" form="saleDetail" (click)="cashSale()" mat-raised-button color="primary">Cash</button>
    </footer>
</div>