<div class="d-flex mb-0">
    <h5 mat-dialog-title>New Password</h5>

    <span class="width-spacer"></span>
    
    <button mat-icon-button (click)="onCancelClick()" color="accent" class="mt-2 mx-3"><mat-icon><span class="material-icons-outlined">
        close
    </span></mat-icon></button>
</div>

<mat-dialog-content>
    <div>
        <form ngNativeValidate (submit)="saveNewPassword()">
            <div class="form-group sm-margin">
                <label for="newPassword">New password</label>
                <input type="password" class="form-control" [(ngModel)]="newPassword" name="newPassword" id="newPassword" placeholder="" required>
            </div>

            <div class="form-group sm-margin mt-3">
                <label for="confirmPassword">Confirm password</label>
                <input type="password" class="form-control" [(ngModel)]="confirmPassword" name="confirmPassword" id="confirmPassword" aria-describedby="helpId" placeholder="" required>
                <small id="helpId" class="form-text text-muted">
                    Password can't be too similar to user personal information. <br>
                    Password must contain at least 8 characters.<br>
                    Password can't be a commonly used password.<br>
                    Password can't be entirely numeric.
                </small>
            </div>
        
            <div style="text-align: right;" class="mt-4">
              <button mat-raised-button cdkFocusInitial class="submitButton">Save new password</button>
            </div>
        </form>
    </div>
</mat-dialog-content>