mat-toolbar {
    font-size: medium;
}

.material-icons-outlined {
    font-size: 80px;
}

mat-card {
    background-color:azure;
}

@media (max-width: 576px) {
    .sm-margin {
        margin-top: 1rem;
    }
}