<mat-toolbar>
    Add Multiple Products
</mat-toolbar>

<!-- Main body -->
<div class="p-2">
    <!-- form for adding products -->
    <div class="container bg-white p-1">
        <form ngNativeValidate (submit)="addProducts()" class="row">
            <div class="form-group col-sm-9">
                <label for="productName">Product Name*</label>
                <input type="text" class="form-control" [(ngModel)]="productName" name="productName" id="name" placeholder="" required>
            </div>

            <div class="col-sm-3  text-center pt-3">
                <button id="addProduct" type="submit" mat-button class="px-3">Add</button>
            </div>
        </form>
    </div>
    
    <!-- table for displaying products -->
    <div class="container bg-white mt-1 p-3 table-container">
        <!-- no products -->
        <ng-container *ngIf="(products.length == 0)">
            <p>Products added will be diplayed here.</p>
        </ng-container>
        
        <!-- productList not empty -->
        <ng-container *ngIf="(products.length != 0)">
            <table mat-table [dataSource]="products" class="mat-elevation-z8">

                <!-- No. Column -->
                <ng-container matColumnDef="no">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
                </ng-container>
            
                <!--Product Name Column -->
                <ng-container matColumnDef="product_name">
                  <th mat-header-cell *matHeaderCellDef>Product Name </th>
                  <td mat-cell *matCellDef="let element"> {{element}} </td>
                </ng-container>
            
                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef> Actions </th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="editProduct(element)" color="accent"><mat-icon><span class="material-icons-outlined">
                        edit
                        </span></mat-icon></button>
                        &nbsp;&nbsp;
                    <button mat-icon-button (click)="deleteProduct(element)" color="warn"><mat-icon><span class="material-icons-outlined">
                        delete
                        </span></mat-icon></button>
                  </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row"></tr>
              </table>
        </ng-container>
        
    </div>

    <!-- table action buttons -->
    <div class="my-3" style="text-align: right;" *ngIf="(products.length != 0)">
        <button mat-raised-button (click)="clearProducts()" class="mx-3" color="warn">Clear</button>
        <button mat-raised-button (click)="saveProducts()" class="mx-3" style="background: #1E1E1E; color: #D9D9D9;">Save Products</button>
    </div>
</div>