mat-toolbar {
    font-size: medium;
}

.container {
    border-radius: 1rem;
}

form {
    margin: 2rem;
}

#addProduct {
    background: #1E1E1E;
    color: #D9D9D9;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.table-container {
    max-height: 600px;
    overflow: auto;
}

.mat-row:nth-child(even){
    background-color: #ffffff;
}
        
.mat-row:nth-child(odd){
    background-color: #f5f5f5;
}

.fs-18 {
    font-size: 18px;
}