<mat-toolbar>
    Credit Sales
</mat-toolbar>

<div class="container mt-1">
  <mat-form-field appearance="outline">
    <mat-label>Search by Customer Name</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>
</div>

<div class="container my-3 overflow-auto">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- No. Column -->
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
          <td colspan="3" mat-footer-cell *matFooterCellDef style="text-align: right;"> Total </td>
        </ng-container>

        <!--Date Column -->
        <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef>Date </th>
            <td mat-cell *matCellDef="let element"> {{element.created_at | date: 'medium'}} </td>
          </ng-container>
    
        <!--Customer Name Column -->
        <ng-container matColumnDef="customer_name">
          <th mat-header-cell *matHeaderCellDef>Customer Name </th>
          <td mat-cell *matCellDef="let element"> {{element.customer_name}} </td>
        </ng-container>
    
        <!--Total Amount Column -->
        <ng-container matColumnDef="invoice_amount">
          <th mat-header-cell *matHeaderCellDef> Total Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.invoice_amount | currency:' ':'code'}} </td>
          <td mat-footer-cell *matFooterCellDef> {{ getTotalAmount() | currency:' ':'code' }} </td>
        </ng-container>
    
        <!--Amount Paid Column -->
        <ng-container matColumnDef="invoice_paid">
          <th mat-header-cell *matHeaderCellDef>Amount Paid </th>
          <td mat-cell *matCellDef="let element"> {{element.invoice_paid | currency:' ':'code'}} </td>
          <td mat-footer-cell *matFooterCellDef> {{ getTotalPaid() | currency:' ':'code' }} </td>
        </ng-container>

        <!--Balance -->
        <ng-container matColumnDef="invoice_balance">
            <th mat-header-cell *matHeaderCellDef>Balance </th>
            <td mat-cell *matCellDef="let element"> {{element.invoice_balance | currency:' ':'code'}} </td>
            <td mat-footer-cell *matFooterCellDef> {{ getTotalBalance() | currency:' ':'code' }} </td>
        </ng-container>

        <!--Contact -->
        <ng-container matColumnDef="customer_contact_no">
            <th mat-header-cell *matHeaderCellDef>Contact </th>
            <td mat-cell *matCellDef="let element"> {{element.customer_contact_no}} </td>
        </ng-container>
    
        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="accent"><mat-icon><span class="material-icons-outlined">
                more_vert
                </span></mat-icon></button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row"></tr>
        <tr mat-footer-row *matFooterRowDef="['no', 'invoice_amount', 'invoice_paid', 'invoice_balance']" class="totals"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons aria-label="Select page of credit sales"></mat-paginator>
</div>