<mat-drawer-container class="main-container">

    <!-- Navigation Bar -->
    <mat-drawer #drawer mode="side" opened>
      <mat-toolbar color="primary">
        Denloy Investments
      </mat-toolbar>
      
      <a href="" class="p-2 d-block">
        <mat-icon class="material-icons-outlined align-middle" style="margin-left: 1rem;">home</mat-icon>
        <span class="">Home</span>
      </a>
  
      <a class="p-2 d-block my-1" (click)="showProductList()">
        <mat-icon class="material-icons-outlined align-middle" style="margin-left: 1rem;">edit_note</mat-icon>
        <span class="">Products</span>
      </a>
  
      <!-- products sub list -->
      <div class="productList" *ngIf="showList">
        <a href="" class="p-2 d-block my-1">
          <mat-icon class="material-icons-outlined align-middle" style="margin-left: 1rem;">view_list</mat-icon>
          <span class="">List Products</span>
        </a>
    
        <a [routerLink]="['products/add']" routerLinkActive="active-link" class="p-2 d-block my-1">
          <mat-icon class="material-icons-outlined align-middle" style="margin-left: 1rem;">add_circle_outline</mat-icon>
          <span class="">Add Product</span>
        </a>
  
        <a [routerLink]="['products/add-multiple']" routerLinkActive="active-link" class="p-2 d-block my-1">
          <mat-icon class="material-icons-outlined align-middle" style="margin-left: 1rem;">playlist_add</mat-icon>
          <span class="">Add Multipe Products</span>
        </a>
      </div>
  
      <a class="p-2 d-block my-1" (click)="showPurchaseList()">
        <mat-icon class="material-icons-outlined align-middle" style="margin-left: 1rem;">shopping_cart</mat-icon>
        <span class="">Purchases</span>
      </a>
  
      <!-- purchases sub list -->
      <div class="productList" *ngIf="expandPurchase">
        <a href="" class="p-2 d-block my-1">
          <mat-icon class="material-icons-outlined align-middle" style="margin-left: 1rem;">view_list</mat-icon>
          <span class="">List Purchases</span>
        </a>
    
        <a [routerLink]="['purchases/add']" routerLinkActive="active-link" class="p-2 d-block my-1">
          <mat-icon class="material-icons-outlined align-middle" style="margin-left: 1rem;">add_circle_outline</mat-icon>
          <span class="">Add Purchase</span>
        </a>
  
        <a [routerLink]="['']" routerLinkActive="active-link" class="p-2 d-block my-1">
          <mat-icon class="material-icons-outlined align-middle" style="margin-left: 1rem;">playlist_add</mat-icon>
          <span class="">Add Multipe Purchases</span>
        </a>
      </div>
  
      <a href="" class="p-2 d-block my-1">
        <mat-icon class="material-icons-outlined align-middle" style="margin-left: 1rem;">bar_chart</mat-icon>
        <span class="">Sales</span>
      </a>
  
      <a href="" class="p-2 d-block my-1">
        <mat-icon class="material-icons-outlined align-middle" style="margin-left: 1rem;">request_quote</mat-icon>
        <span class="">Invoice</span>
      </a>
  
    </mat-drawer>
  
    <!-- Main Content -->
    <mat-drawer-content class="d-flex flex-column min-vh-100">
      <mat-toolbar color="primary">
        <button type="button" mat-icon-button (click)="drawer.toggle()">
          <mat-icon>
            <span class="">
            menu
            </span>
          </mat-icon>
        </button>
  
        <span class="width-spacer"></span>
  
        <button mat-button>
          <mat-icon>point_of_sale</mat-icon>
          POS
        </button>
  
        <button mat-button [matMenuTriggerFor]="account">
          <mat-icon>account_circle</mat-icon>
          <span>{{ userDetail?.username }}</span>
        </button>

        <mat-menu #account="matMenu" class="account-menu">
          <ng-template matMenuContent>
            <button mat-menu-item>
              <mat-icon>manage_accounts</mat-icon>
              <span>Account</span>
            </button>

            <button mat-menu-item (click)="logout()">
              <mat-icon>logout</mat-icon>
              <span>Logout</span>
            </button>
          </ng-template>
        </mat-menu>

      </mat-toolbar>
  
      <router-outlet></router-outlet>
  
      <footer class="px-3 mt-auto">    
        <p style="font-size: smaller;">Denloy Investments POS | Copyright &copy; {{ currentYear }} All rights reserved.</p>
      </footer>
  
    </mat-drawer-content>
  
  </mat-drawer-container>
  
  
  