/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    /*
    --primary-color: #153d77;
    --secondary-color: #6c757d;
    --background-color: #f2f2f2;
    --white-color: #fff;*/
    --success-color: #198754;
    --delete-color: #dc3545;
}

.success-snackbar {
    color: white;
    --mdc-snackbar-container-color: var(--success-color);
    --mat-mdc-snack-bar-button-color: blue;
}

.error-snackbar {
    color: white;
    --mdc-snackbar-container-color: var(--delete-color);
    --mat-mdc-snack-bar-button-color: black;
}

.mat-mdc-menu-panel.account-menu {
    background: #E8E8E8;
}

.ais-SearchBox { margin-bottom: 1em }
