<mat-toolbar>
    Stock Running Low
</mat-toolbar>

<!-- filters -->
<div class="container mt-2 row">
    <mat-form-field appearance="outline" class="col-sm-3">
      <mat-label>Filter by Product Name</mat-label>
      <input matInput (keyup)="filterByName($event)" #input [(ngModel)]="product_name_filter">
    </mat-form-field>
  
    <div class="col-sm-3 py-2">
      <button mat-stroked-button (click)="clearFilters()" color="accent">Clear Filters</button>
    </div>
  
  </div>

<!-- products table -->
<div class="container my-3 overflow-auto">
    <table mat-table [dataSource]="productsDataSource" class="mat-elevation-z8" matSort>

        <!-- No. Column -->
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
        </ng-container>

        <!--Product Name Column -->
        <ng-container matColumnDef="product_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Name </th>
            <td mat-cell *matCellDef="let element"> {{element.product_name}} </td>
        </ng-container>
    
        <!--Available Units Column -->
        <ng-container matColumnDef="available_units">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Available Units </th>
          <td mat-cell *matCellDef="let element"> {{element.available_units}} </td>
        </ng-container>
    
        <!--Min Units alert Column -->
        <ng-container matColumnDef="min_units_alert">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Min Units Alert </th>
          <td mat-cell *matCellDef="let element"> {{element.min_units_alert}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="productsDisplayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: productsDisplayedColumns;" class="mat-row"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons aria-label="Select page of credit sales"></mat-paginator>
</div>

